.banner-slide {
    width: 1296px;
    height: 400px;
}

.overflow-hidden-scroll::-webkit-scrollbar {
    display: none;
    /* ซ่อน Scrollbar ใน Chrome และ Safari */
}

.overflow-hidden-scroll {
    scrollbar-width: none;
    /* ซ่อน Scrollbar ใน Firefox */
    -ms-overflow-style: none;
    /* ซ่อน Scrollbar ใน IE/Edge */
}